*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
background-color: #E1ECEB;

}
nav{
  margin: 10px 10px;
  width: 200px;
  height: 750px;
  position: sticky;
  top: 0;
  background-color: #3D5654;
  border-radius: 20px;
}